body {
    background-color: rgb(241, 227, 204);
}

.image{
    border: 1px solid rgb(8, 10, 8);
    border-radius: 10px;
    height: 400px;
}

.link-button {
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid rgb(124, 124, 124);
    background-color: #ffffff;
    padding: 10px 20px; 
    border-radius: 10px; 
    box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.4s, transform 0.3s, box-shadow 0.4s; 
}

.link-button:hover {
    border: 1px solid rgb(192, 192, 192);
    background-color: #e4fdff;
    transform: translateY(-3px); 
    box-shadow: 5px 6px 7px rgba(0, 68, 124, 0.842); 
}